/* Modificación clase boostrap */
@media (min-width: 1400px) {
    .container-xxl {
        max-width: 1600px !important;
    }
}

@font-face {
    font-family: 'gobCL';
    src: url('./assets/fonts/gobCL/gobCL_Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gobCL'; 
    src: url('./assets/fonts/gobCL/gobCL_Light.otf') format('opentype');
    font-weight: 300; 
    font-style: normal; 
}


@font-face {
    font-family: 'gobCL'; 
    src: url('./assets/fonts/gobCL/gobCL_Bold.otf') format('opentype');
    font-weight: 700; 
    font-style: normal;
}


@font-face {
    font-family: 'gobCL'; 
    src: url('./assets/fonts/gobCL/gobCL_Heavy.otf') format('opentype');
    font-weight: 900; 
    font-style: normal;
}

@font-face {
    font-family: 'Pacifico'; 
    src: url('./assets/fonts/pacifico/Pacifico-Regular.ttf') format('truetype');
    font-weight: 400; 
    font-style: normal;
}

@font-face {
    font-family: 'Pacifico'; 
    src: url('./assets/fonts/pacifico/Pacifico-Bold.ttf') format('truetype');
    font-weight: 700; 
    font-style: normal;
}

body{
    font-family: 'gobCL' !important;
}

/*CUSTOM*/
.px-6 {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
}

.px-7 {
    padding-right: 8rem !important;
    padding-left: 8rem !important;
}

.px-8 {
    padding-right: 12rem !important;
    padding-left: 12rem !important;
}

.px-9 {
    padding-right: 16rem !important;
    padding-left: 16rem !important;
}


.px-9 {
    padding-right: 10% !important;
    padding-left: 10% !important;
}

