.light-red{
    background-color: #EE0400;
}
.light-yellow{
    background-color: #FEE400;
}
.light-green{
    background-color: #49DC00;
}
.light-disabled{
    background-color: #C4D7D3;
}
