.board-main{
    background-color: #D9F5FF;
    border-radius: 25px 0 25px 0 ;
    font-family: 'gobCL' !important;
}

.board-main .title{
    padding: 0;
    font-size: 20px;
    color:#1D1D59;
    line-height:28px;
    
}

.board-main .score{
    font-family: 'pacifico';
    font-size: 129px;
    font-weight: 700;
    color: #1D1D59;
    line-height:100px;
    
}

.board-main .info{
    font-size: 20px;
    color:#1D1D59;
    line-height:28px;
}

.board-main .container{
    width: 80%;
}