.board-main{
    background-color: #D9F5FF;
    border-radius: 25px 0 25px 0 ;
    font-family: 'gobCL' !important;
}

.board-main .title{
    padding: 0;
    font-size: 20px;
    color:#1D1D59;
    line-height:28px;
    
}

.board-main .score{
    font-family: 'pacifico';
    font-size: 129px;
    font-weight: 700;
    color: #1D1D59;
    line-height:100px;
    
}

.board-main .info{
    font-size: 20px;
    color:#1D1D59;
    line-height:28px;
    text-align: center;
}

.board-main .container{
    width: 80%;
}

.board-main .claims-count{
    font-weight: 900;
    font-size: 48px;
    color:#1D1D59;
    line-height:20px;

}

.board-main .similar-company-title{
    font-family: 'gobCL' !important;
    width: 100%;
    background-color: #E9F9FF;
    border-radius:  25px 0 0 0;
    text-align: center;
    font-size: 28px;
    color:#1D1D59;


}

.board-main .similar-company-score{
    font-family: 'pacifico';
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    color: #1D1D59;
    line-height:100px;


}

.board-main .company-info{
    font-size: 20px;
    color:#1D1D59;
    line-height:28px;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}
